:root {
  --Primary: rgb(0,92,190);
  --Secondary:rgb(255,226,4);
}
body{
  padding: 0;
  margin: 0;

}

.Centeralised-container {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;
  min-height: 90vh;
}
/* NavBar Componenets */
.Navbar-Container{
  padding-top: 5px;
  background-color: var(--Primary);
  margin-bottom: 10px;
}
.Navbar-lowerbanner{
  background-color: var(--Secondary);
  height: 10px;
  box-shadow: 0px 5px 10px #0000001f;
}
