@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
:root {
  --Primary: rgb(0,92,190);
  --Secondary:rgb(255,226,4);
  --Tertiary: rgb(14,0,103);
}
body{
  padding: 0;
  margin: 0;
}

h1{
  font-family: "Oswald", sans-serif;
  color: var(--Tertiary);
  text-transform: uppercase;
  font-size: 4rem;
  text-decoration: underline 5px solid var(--Secondary);
  margin-bottom: 5px;
  margin-top: 5px;
}
.page-container{
  width: 95%;
}

.app-font{
  color: var(--Tertiary);
  font-family: 'Oswald';
  text-transform: uppercase;
}
.Button{
  background-color: var(--Primary);
  color: var(--Secondary);
  font-family: "Oswald";
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  padding: 3px 25px;
  border-radius: 5%;
  box-shadow: 5px 5px 10px #00000029;
}
.Button:active{
  background-color: var(--Tertiary);
  box-shadow: 5px 5px 10px #0000002f;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.Centralised-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  width: 100%;
  overflow-y: scroll;
}
.centralised{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Footer{
  background-color: var(--Primary);
  height: 20px;
  box-shadow: 0px -5px 10px #0000001f;
}

/* NavBar Componenets */
.Navbar-Container{
  padding-top: 5px;
  background-color: var(--Primary);
  margin-bottom: 10px;
}
.Navbar-lowerbanner{
  background-color: var(--Secondary);
  height: 10px;
  box-shadow: 0px 5px 10px #0000001f;
}

/* SearchBar */
.form-field {
  position: relative;
  display: inline-block;
}

.icon {
  position: absolute;
  left:10px;
  top: 12px;
  color: var(--Primary);
}
.delete{
  position: absolute;
  right:10px;
  top: 12px;
  color: var(--Primary);
  cursor: pointer;
}
.Searchbar{
  padding-left: 25px;
  padding-right: 20px;
  border: 2px solid var(--Secondary);
  border-radius: 25px;
  min-width: 300px;
  height: 35px;
}

/* Directory */

.page-title-banner{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}